<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">

    <div class="ui centered grid" style="padding-bottom: 0px !important;">




        <div class="one wide column">


        </div>

        <div class="nine wide column" style="padding-bottom: 5px!important">







        </div>


        <div class="four wide bottom aligned column">


        </div>


    </div>


    <div class="ui centered grid" style="margin-top: 0px !important;padding-top: 5px!important;" >

        <div class="one wide column">


        </div>
        <div class="four wide bottom aligned column" style="padding-top: 0px">


        </div>
        <div class="six wide bottom aligned centered column" style="padding-top: 0px !important; margin-bottom: 5px">


            <div class="center aligned">
                <h1 class="ui header" style="margin-bottom: 0px!important; font-style: oblique;font-weight: bolder!important;">AtroSys</h1>
                <h3 class="ui header" style="margin-bottom: 0px!important;margin-top: 0px!important; font-style: italic;font-weight: bold!important;">Issue Tracking Platform</h3>
                <div style="display: inline">   <i class=" mail icon"></i>    <h4 class="ui header" style="margin-top: 0px!important;display: inherit">  info@atrosys.com</h4></div>
                <h4 class="ui header" style="margin-top: 0px!important;"> &copy;2018 All rights reserved</h4>
            </div>



        </div>

        <div class="four wide bottom aligned column" style="padding-top: 0px">
            <!--<div style="text-align: right">
                <button class="social" >
                    <i class="telegram icon"></i>
                </button>
                <button class="social" >
                    <i class="instagram icon"></i>
                </button>
                <button class="social">
                    <i class="linkedin icon"></i>
                </button>
            </div>-->




        </div>
        <div class="one wide column">


        </div>

    </div>


</div>
</html>