<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Client Page</title>
    <div th:if="${#locale.getLanguage().equals('fa')}" th:include="client/fragment/header :: header_fa"></div>
    <div th:if="${#locale.getLanguage().equals('en')}" th:include="client/fragment/header :: header"></div>
</head>
<body class="atro">
<header class="atroheader">
    <div th:include="client/fragment/header :: menu"></div>
</header>
<div class="atrocontent">
    <div class="ui centered grid">
        <div class="five wide column"></div>
        <div class="six wide column" th:fragment="taskDetails" id="taskDetails">

            <!--<form class="ui form" th:action="@{index}" id="taskForm" th:method="post" th:if="${task!=null}"-->
            <!--th:object="${task}">-->
            <h2 class="ui icon header" style="display: block">

                <i class="tasks icon"></i>


                <div class="content">
                    <span th:text="#{operator.index.task.details}"></span>

                </div>
            </h2>
            <div class="ui raised piled segment">
                <h4 class="ui dividing header"><span th:text="#{operator.index.task.information}"></span></h4>

                <div class="field">
                    <h4><span th:text="#{operator.index.category.title}"></span></h4>
                    <span th:text="${task.subCategory.category.title}"></span>
                </div>
                <br>
                <br>
                <div class="field" th:fragment="subcategory" id="subcategory">
                    <h4><span th:text="#{operator.index.subject.title}"></span></h4>
                    <span th:text="${task.subCategory.title}"></span>
                </div>
                <br>
                <br>
                <div class="field" id="subject">
                    <h4><span th:text="#{client.tasks.select.subject.title}"></span></h4>
                    <span th:text="${task.title}"></span>
                </div>
                <br>
                <br>
                <div class="field" id="description">
                    <h4><span th:text="#{operator.index.description.title}"></span></h4>
                    <span th:text="${task.content}"></span>
                </div>
                <br>
                <br>


            </div>
        </div>
        <div class="five wide column"></div>
    </div>
</div>



<style>
    .ui.fixed.sticky + p {
        margin-top: 39px;
    }

     .footer1 {
         position: fixed!important;
         left: 0;
         right: 0;
         bottom: 10px;
         /*width: 100vw;*/
         background-color: black;
         color: white;
         text-align: center;
     }


</style>
<div class=" footer1 ui inverted segment fixed sticky bottom centered grid" >

    <form class="ui form">
        <div class="field">
            <label><span th:text="#{client.tasks.description.title}"></span> </label>
            <textarea rows="1" style="margin-top: 0px; margin-bottom: 10px;width: 85vw; height: 50px;" id="chat"></textarea>
        </div>
    </form>
</div>

<footer class="atrofooter">
    <div th:include="client/fragment/footer :: footer"></div>
</footer>


<script>
    $('.ui.sticky')
        .sticky()
    ;
</script>
</body>
</html>