

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/dist/semantic.min.css}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script th:src="@{/semantic/dist/semantic.min.js}"></script>

</div>

<div th:fragment="header_fa">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/general.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/semantic/dist/semantic.rtl.css}">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script th:src="@{/semantic/dist/semantic.min.js}"></script>
    <style type="text/css">
        @font-face {
            font-family: BYekan;
            src: url("../font/BYekan.ttf");
            font-weight: normal;
            font-style: normal;
        }

        * {
            font-family: BYekan;
        }

    </style>
</div>

<div th:fragment="menu" >

   <div th:if="${#locale.getLanguage().equals('en')}">
       <div  class="ui inverted segment" id="headermenu" style="margin-bottom: 0px;border: none;border-radius: 0px">
           <div class="ui inverted secondary pointing menu">

               <div class="left menu">


                   <a href="/logout" class="item">
                       <i class="icon sign out"></i><span th:text="#{logout}"></span>
                   </a>




                       <div class="ui simple dropdown item">
                            <span th:text="#{language}"></span>  <i class="dropdown icon"></i>
                           <div class="menu">
                               <a class="item" href="?lang=en"><i class="us flag"></i>English</a>
                               <a class="item" href="?lang=fa"><i class="ir flag"></i>فارسی</a>

                           </div>
                       </div>


               </div>

               <div class="right menu">
                   <a th:classappend="${tasksSelected}" class="item"  th:href="@{tasks}" >
                       <i class="tasks icon"></i>   <span th:text="#{admin.menu.tasks}"></span>
                   </a>
                   <div class="item" th:classappend="${reportSelected}">
                       <div class="ui simple dropdown" >
                           <i class="area chart icon"></i> <span th:text="#{admin.menu.report}"></span> <i class="dropdown icon"></i>
                           <div class="menu">
                               <a class="item" th:href="@{errorLog}"><i class="bug icon"></i><span th:text="#{admin.menu.report.error}"></span> </a>
                           </div>
                       </div>
                   </div>
                   <div class="item" th:classappend="${settingSelected}">
                       <div class="ui simple dropdown" >
                           <i class="settings icon"></i>   <span th:text="#{admin.menu.setting}"></span> <i class="dropdown icon"></i>
                           <div class="menu">
                               <a class="item" th:href="@{tags}"><i class="tag icon"></i><span th:text="#{admin.menu.setting.tags}"></span> </a>
                               <a class="item" th:href="@{categories}"><i class="browser icon"></i><span th:text="#{admin.menu.setting.categories}"></span> </a>
                               <a class="item" th:href="@{configuration}"><i class="configure icon"></i><span th:text="#{admin.menu.setting.configuration}"></span> </a>
                           </div>
                       </div>
                   </div>
                   <div class="item"  th:classappend="${accountSelected}">
                       <div class="ui simple dropdown" >
                           <i class="users icon"></i> <span th:text="#{admin.menu.users}"></span> <i class="dropdown icon"></i>
                           <div class="menu">
                               <a class="item" th:href="@{createAccount}"><i class="add user icon"></i><span th:text="#{admin.menu.users.add}"></span> </a>
                               <a class="item" th:href="@{accounts}"><i class="edit icon"></i><span th:text="#{admin.menu.users.edit}"></span> </a>
                           </div>
                       </div>
                   </div>
                   <a th:classappend="${homeSelected}" class="item"  th:href="@{index}" >
                       <i class="home icon"></i>   <span th:text="#{admin.menu.home}"></span>
                   </a>
               </div>
           </div>
       </div>
    <!--   <div style="text-align: right;margin-bottom: 25px" id="toolbar" >
           <div class="ui borderless menu" style="background: transparent;border: none;border-radius: 0px">
               <a class="item" style="padding: 5px">
                   <i class="icon mail"></i>
                   <div class="atrolabel">128</div>
               </a>

           </div>

       </div>-->
   </div>
    <div th:if="${#locale.getLanguage().equals('fa')}">
        <div  class="ui inverted segment" id="headermenu" style="margin-bottom: 0px;border: none;border-radius: 0px">
            <div class="ui inverted secondary pointing menu">

                <div class="right menu">


                    <a href="/logout" class="item">
                        <i class="icon sign out"></i><span th:text="#{logout}"></span>
                    </a>



                    <div class="ui floating simple icon dropdown item">
                        <i class="dropdown icon"></i>   <span th:text="#{language}"></span>
                        <div class="menu">
                            <a class="item" href="?lang=en">English<i class="us flag"></i></a>
                            <a class="item" href="?lang=fa">فارسی<i class="ir flag"></i></a>

                        </div>
                    </div>
                </div>

                <div class="menu">
                    <a th:classappend="${tasksSelected}" class="item"  th:href="@{tasks}" >
                         <span th:text="#{admin.menu.tasks}"></span>   <i class="tasks icon"></i>
                    </a>
                    <div class="item" th:classappend="${reportSelected}">
                        <div class="ui simple dropdown" >
                            <i class="dropdown icon"></i>     <span th:text="#{admin.menu.report}"></span>    <i class="area chart icon"></i>
                            <div class="menu">
                                <a class="item" th:href="@{errorLog}"><span th:text="#{admin.menu.report.error}"></span><i class="bug icon"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="item" th:classappend="${settingSelected}">
                        <div class="ui simple dropdown" >
                            <i class="dropdown icon"></i>   <span th:text="#{admin.menu.setting}"></span>    <i class="settings icon"></i>
                            <div class="menu">
                                <a class="item" th:href="@{tags}"><span th:text="#{admin.menu.setting.tags}"></span> <i class="tag icon"></i></a>
                                <a class="item" th:href="@{categories}"><span th:text="#{admin.menu.setting.categories}"></span> <i class="browser icon"></i></a>
                                <a class="item" th:href="@{configuration}"><span th:text="#{admin.menu.setting.configuration}"></span> <i class="configure icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="item"  th:classappend="${accountSelected}">
                        <div class="ui simple dropdown" >
                            <i class="dropdown icon"></i>   <span th:text="#{admin.menu.users}"></span>  <i class="users icon"></i>
                            <div class="menu">
                                <a class="item" th:href="@{createAccount}"><span th:text="#{admin.menu.users.add}"></span> <i class="add user icon"></i></a>
                                <a class="item" th:href="@{accounts}"><span th:text="#{admin.menu.users.edit}"></span><i class="edit icon"></i> </a>
                            </div>
                        </div>
                    </div>
                    <a th:classappend="${homeSelected}" class="item"  th:href="@{index}" >
                       <span th:text="#{admin.menu.home}"></span>   <i class="home icon"></i>
                    </a>
                </div>
            </div>
        </div>
    
    </div>
</div>
